<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new corse</title>
</head>
<body>
    <h2>Create courses</h2>
    <form action="/corses" method="POST">
        title: <input type="text" name="CourseTitle" /><br/>
        Description: <input type="text" name="Description" /><br/>
        Price: <input type="text" name="Price" /><br/>
        StartDate: <input type="text" name="StartDate" /><br/>
        EndDate: <input type="text" name="EndDate" /><br/>
        ImageUrl: <input type="text" name="ImageUrl" /><br/>
       
        <br/>
        <input type="submit" name="" value="Submit Changes"/>
    </form>


</body>
</html> 